/* Tạo đổ bóng cho hộp gợi ý (dropdown) của Select2 */
.select2-container--default .select2-dropdown {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.7);
    /* Loại bỏ viền mặc định */
    border-radius: 7px;
}

/* Tạo đổ bóng nhẹ cho từng mục trong danh sách gợi ý */
.select2-container--default .select2-results__option {
    padding: 8px;
    /* Căn chỉnh khoảng cách bên trong */
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    /* Hiệu ứng chuyển tiếp */
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    /* Màu nền khi mục được chọn */
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.9);
    /* Đổ bóng cho mục được chọn */
}

/* Loại bỏ viền của Select2 cho chế độ chọn nhiều */
.select2-container--default .select2-selection--multiple {
    border: none;
    box-shadow: none;
}