.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 2.2;
  /* Ensures the image maintains aspect ratio */
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
}

.place p {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

#estate-price, #estate-area{
  color: rgb(255, 68, 0);
}