.carousel-item img {
    height: 400px;
    object-fit: cover;
}

#bootstrap-gallery-carousel .carousel-indicators {
    position: static;
    margin-top: 10px;
}

#bootstrap-gallery-carousel .carousel-indicators>li {
    width: 100px;
}

#bootstrap-gallery-carousel .carousel-indicators li img {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 7px;
    object-fit: cover;
    opacity: 1;
}

#bootstrap-gallery-carousel .carousel-indicators li.selected img {
    width: 100px;
    height: 70px;
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    top: 40%;
    transform: translateY(-50%);
}

.carousel-indicators .list-inline-item:not(.active) img {
    opacity: 1; /* Bỏ hiệu ứng mờ cho ảnh chưa chọn */
    filter: none;
}