.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 50%;
}

.carousel-control-prev {
    /* Move to the left, outside the carousel */
}

.carousel-control-next {
     /* Move to the right, outside the carousel */
}