.profile {
    width: 100%;
    height: 220px;
    padding: 0;
    object-fit: cover;
}

.percentage {
    font-size: 10px
}

.testimonials {
    height: 220px;
}

.result-estate-name {
    font-size: 14px;
    font-weight: 500;
}

.result-estate-description {
    font-size: 13px;
}

.result-item span {
    font-size: 12px;
    font-weight: 600;
}

.percentage img {
    height: 15px;
    width: 15px;
}

.img-fluid{
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    padding: 0;
}

#result-area,
#result-price {
    color: red;
    font-weight: 700;
}

/* author */
#image-author{
    margin-right: 5px;
}

#author-name{
    font-size: 11px;
}

#create-date{
    font-size: 11px;
   
}

#btn-show-phone, #btn-save{
    font-size: 11px;
}

#btn-save img{
    height: 14px;
}
