.form-group {
    position: relative;
    padding: 1px;
}

select:not(:focus) option {
    display: none;
}

.clear-icon,
.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.clear-icon {
    display: none;
    /* Ẩn icon clear (X) ban đầu */
}

.dropdown-icon {
    display: block;
    /* Hiển thị icon dropdown ban đầu */
}


.float-label {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    pointer-events: none;
}

.form-group.select-focused label,
.form-group.has-value label {
    top: 1px;
    /* Di chuyển label lên trên viền */
    left: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #0968cd;
    background-color: rgb(252, 252, 252);
    padding: 0 4px;
    margin: -0.5px;
}

.clear-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
    display: none;
    /* Ẩn icon clear lúc đầu */
}

.form-group.has-value .clear-icon {
    display: block;
    /* Hiển thị icon clear khi có tùy chọn */
}

.clear-icon,
.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.form-group.has-value .clear-icon {
    display: block;
    /* Hiển thị icon clear khi có tùy chọn */
}