.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    margin: 0;
    padding: auto;
    width: 100%;
}

.form-select,
.form-control {
    border-radius: 10px;
}


.search-area {
    border-radius: 7px;
}


.dropdown-menu {
    overflow-y: auto;
    /* Cho phép cuộn dọc */
    -ms-overflow-style: none;
    /* Ẩn scrollbar cho Internet Explorer và Edge */
    scrollbar-width: none;
    /* Ẩn scrollbar cho Firefox */
    width: 255px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1;
}

/* Ẩn scrollbar cho Chrome, Safari và các trình duyệt dựa trên WebKit */
.dropdown-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-item label {
    margin-top: 1px;
}

.reset-container {
    position: sticky;
    /* Sticky giúp nút "Đặt lại" luôn cố định khi cuộn */
    bottom: 0;
    /* Định vị nút ở cuối dropdown */
    background-color: #fff;
    /* Đặt nền để đảm bảo không bị che bởi nội dung khác */
    z-index: 1000;
    /* Đảm bảo nó nằm trên cùng */
    width: 100%;
    /* Đảm bảo nút chiếm toàn bộ chiều rộng dropdown */
}

#estate-container h4 {
    margin-top: 60px;
    margin-bottom: -10px;
}

.estate-by-area h4 {
    margin-top: 80px;
    margin-bottom: 20px;
}

.project-container h4 {
    margin-top: 70px;
}

/* search */

.input-group{
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(83, 83, 83);
}

.input-group .btn{
    font-size: 12px;
}